body {
  background: url("https://images.unsplash.com/photo-1430505783706-d589753ea6cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=be73841ecac08b4d48d3d96353828c15") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.site-headers {
  color: white;
  text-align: center;
  font-family: 'Oxygen', serif;
}

#site-title {
  font-size: 4em;
}

.connect-image img{
  width: 100%;
}

.connect-links {
  margin-left: 80px;
}
