<div class="row connect-links">
  <div class="col-md-1 col-sm-3 col-md-offset-4 connect-image">
    <a href="mailto:justin@justindomingus.com" target="blank"><img src="./static/images/email-logo.png"></a>
  </div>
  <div class="col-md-1 col-sm-3 connect-image">
    <a href="https://github.com/domingusj" target="blank"><img src="./static/images/github-logo.png"></a>
  </div>
  <div class="col-md-1 col-sm-3 connect-image">
    <a href="https://www.linkedin.com/in/justindomingus" target="blank"><img src="./static/images/linked-in-logo.png"></a>
  </div>
</div>
